SERVER_HOST=0.0.0.0
SERVER_PORT=8080
LOG_ENV=production
APP_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=develop
DB_USER=postgres
DB_PASSWORD=admin
DB_SSLMODE=disable
DB_MAX_CONNS=10
DB_MIN_CONNS=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
PASETO_PUBLIC_KEY_IAT=2023-01-01T00:00:00Z
ACCESS_TOKEN_KID=access-v4-public
REFRESH_TOKEN_KID=refresh-v4-public

PASETO_V4_PRIVATE_KEY=v4.public.eyJraWQiOiJ
PASETO_V4_PUBLIC_KEY=v4.public.eyJraWQiOiJ
MACHINE_ID=0
